* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-indent: 2em;
}

body {
  background-image: url("./images/design-background.png");
  -webkit-font-smoothing: antialiased !important;
  font-family: "Roboto Slab", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30vw;
  height: 10vh;
  margin-left: 48px;
  justify-content: center;
  display: flex;
}

/* .two {
} */

li {
  list-style: none;
}

/* .one,
.two,
.three {
  visibility: hidden;
} */

/*Aqui começa a primeira página do site*/

/* #home {
  text-decoration: none;
} */

.Initial {
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(4, 58, 4);
}

#video {
  width: 90vw;
  height: 30vw;
}

/*Aqui começa a segunda página do site*/

.container {
  justify-content: center;
  align-items: center;
  background-color: #ff934f;
  margin: 50px;
  height: 30vw;
  border-radius: 20px;
}

#btnGmail {
  margin: 8px;
  width: 63vw;
  cursor: pointer;
}

/* .form {
  margin: 5px;
  display: flex;
} */

/* #email {
  margin-top: 20px;
} */

/*#btnLogin {
  /* margin: 8px;
  margin-left: 70px;
  width: 30vw;
  justify-content: center;
  display: flex; */
/* cursor: pointer;
  float: right;
  border-radius: 10px;
} */

#forgot {
  margin: 5px;
  margin-top: 35px;
}

#btnRegister {
  margin: 5px;
  margin-top: 20px;
}

#forgot:hover {
  cursor: pointer;
}

.mainFeed {
  /* max-width: 100px;
  margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* font-size: 25px;
  text-indent: 2em; */
}

.newPost {
  margin: 20px;
  padding: 25px;
  width: 90%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #8ba6a9;
  border-radius: 10px;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}

.newPost .infoUser {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  padding: 25px;
  margin: 0 110px;
}

.imgUser {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("./images/mulher-avatar.png");
  background-size: 80px;
  flex-direction: center;
}

strong {
  font-size: 16px;
  color: #423b24;
  margin-left: 110px;
  width: 50px;
}

#textPost,
#textPostUser {
  /* margin-top: 40%; */
   width: 75vw;
  height: 17vh;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
} 
.newPost #formPost {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.newPost #formPost textarea {
  height: 90px;
  margin: 15px 0;
  padding: 28px;
  align-items: center;
  background: #fbfbfb;
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  display: flex;
}

.newPost #formPost .buttonForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnSubmitForm,
#btnLogout,
.btnLike {
  cursor: pointer;
}
/* .filePost {
    
} */

.btnSubmitForm,
.deletePost {
  margin-top: 5px;
}

.like {
  width: 20px;
  justify-content: space-between;
}

.post {
  background: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}
.post .posts {
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 100%;
}

.logo {
  width: 13vw;
  height: 15vh;
}

header {
  width: 100%;
  height: 15vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 550px) and (max-width: 1400px) {
  .newPost #formPost .iconsAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

