* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A8e876;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Roboto Slab', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 30vw;
    height:10vh;
}

li {
    list-style: none;
}

#home {
    text-decoration: none;
}
/*Aqui começa a primeira página do site*/

.loginInit {
    width: 80vw;
    height: 50vh;
    background-color: #ff934f;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    padding: 3vh;
    box-shadow: 1px 0 10px rgba(0,0,0,0.4);
    border-radius: 8px;
}

#btnGmail {
    margin: 8px;
    width: 63vw;
    cursor: pointer;
}

.form {
    margin: 5px;
    display: flex;
}

#email {
    margin-top: 20px;
}

#btnLogin {
    margin: 8px;
    margin-left: 70px;
    width: 30vw;
    justify-content: center;
    display: flex;
    cursor: pointer;
    

}

#btnLogin:hover {
    background:linear-gradient(to bottom, #68b465 5%, #abd5aa 100%);
    }

#forgot {
    margin: 5px;
    margin-top: 35px;
}

#btnCadastrar {
    margin: 5px;
    margin-top: 20px;
}


#forgot:hover {
    cursor: pointer;
    
}

/*